## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(columns = ['EIN'])
application_df.columns

Index(['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
name_counts=application_df["NAME"].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_counts[name_counts<5].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [6]:
# Look at APPLICATION TYPE counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(classification_counts[classification_counts > 1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts.values < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 3129

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 3256 (12.72 KB)
Trainable params: 3256 (12.72 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),loss='binary_crossentropy',metrics=['accuracy'])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=20)

Epoch 1/20
684/684 [==============================] - 1s 991us/step - loss: 0.4175 - accuracy: 0.8004 - val_loss: 0.4343 - val_accuracy: 0.8015
Epoch 2/20
684/684 [==============================] - 1s 943us/step - loss: 0.4172 - accuracy: 0.7995 - val_loss: 0.4350 - val_accuracy: 0.8046
Epoch 3/20
684/684 [==============================] - 1s 933us/step - loss: 0.4170 - accuracy: 0.7992 - val_loss: 0.4365 - val_accuracy: 0.8018
Epoch 4/20
684/684 [==============================] - 1s 947us/step - loss: 0.4165 - accuracy: 0.8011 - val_loss: 0.4390 - val_accuracy: 0.8002
Epoch 5/20
684/684 [==============================] - 1s 940us/step - loss: 0.4164 - accuracy: 0.8011 - val_loss: 0.4387 - val_accuracy: 0.8031
Epoch 6/20
684/684 [==============================] - 1s 921us/step - loss: 0.4166 - accuracy: 0.8005 - val_loss: 0.4364 - val_accuracy: 0.8036
Epoch 7/20
684/684 [==============================] - 1s 955us/step - loss: 0.4158 - accuracy: 0.8004 - val_loss: 0.4363 - val_accuracy: 0.8046
Epoch 8/20
684/684 [==============================] - 1s 929us/step - loss: 0.4160 - accuracy: 0.8009 - val_loss: 0.4381 - val_accuracy: 0.8036
Epoch 9/20
684/684 [==============================] - 1s 931us/step - loss: 0.4156 - accuracy: 0.8014 - val_loss: 0.4394 - val_accuracy: 0.8025
Epoch 10/20
684/684 [==============================] - 1s 965us/step - loss: 0.4156 - accuracy: 0.8000 - val_loss: 0.4354 - val_accuracy: 0.8033
Epoch 11/20
684/684 [==============================] - 1s 923us/step - loss: 0.4157 - accuracy: 0.8008 - val_loss: 0.4355 - val_accuracy: 0.8018
Epoch 12/20
684/684 [==============================] - 1s 946us/step - loss: 0.4150 - accuracy: 0.8001 - val_loss: 0.4354 - val_accuracy: 0.8044
Epoch 13/20
684/684 [==============================] - 1s 944us/step - loss: 0.4151 - accuracy: 0.8011 - val_loss: 0.4389 - val_accuracy: 0.8044
Epoch 14/20
684/684 [==============================] - 1s 936us/step - loss: 0.4151 - accuracy: 0.8013 - val_loss: 0.4378 - val_accuracy: 0.8044
Epoch 15/20
684/684 [==============================] - 1s 944us/step - loss: 0.4147 - accuracy: 0.8006 - val_loss: 0.4397 - val_accuracy: 0.8023
Epoch 16/20
684/684 [==============================] - 1s 952us/step - loss: 0.4145 - accuracy: 0.8010 - val_loss: 0.4391 - val_accuracy: 0.8036
Epoch 17/20
684/684 [==============================] - 1s 935us/step - loss: 0.4142 - accuracy: 0.8011 - val_loss: 0.4384 - val_accuracy: 0.8033
Epoch 18/20
684/684 [==============================] - 1s 958us/step - loss: 0.4141 - accuracy: 0.8032 - val_loss: 0.4375 - val_accuracy: 0.8033
Epoch 19/20
684/684 [==============================] - 1s 964us/step - loss: 0.4142 - accuracy: 0.8013 - val_loss: 0.4378 - val_accuracy: 0.8031
Epoch 20/20
684/684 [==============================] - 1s 928us/step - loss: 0.4139 - accuracy: 0.8011 - val_loss: 0.4409 - val_accuracy: 0.8059

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4586 - accuracy: 0.7847 - 177ms/epoch - 659us/step
Loss: 0.45861658453941345, Accuracy: 0.7847230434417725

In [20]:
# Export our model to HDF5 file
nn.save("Output\AlphabetSoupCharity_Optimization.h5")

C:\ProgramData\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(